In [106]:
'''이건 jupyter 확장자 설치해서 하는 건데 이건 각 셀 별로 실행할 수 있게 해주는 겁니다. 제 생각에는 어디에서 문제가 발생했는지 알아보기는 이게 가장 쉬울 것 같아서 이것도 설치해봤습니다'''

'이건 jupyter 확장자 설치해서 하는 건데 이건 각 셀 별로 실행할 수 있게 해주는 겁니다. 제 생각에는 어디에서 문제가 발생했는지 알아보기는 이게 가장 쉬울 것 같아서 이것도 설치해봤습니다'

In [107]:
3+5

8

In [108]:
print(3213)

3213

In [109]:
print('최장혁바보')

최장혁바보

In [110]:
"Error is %d%%." % 98

'Error is 98%.'

In [111]:
'error is %s%%' % 'dor'

'error is dor%'

In [112]:
'%-10sjane.' %'hi'

'hi        jane.'

In [113]:
'%0.4s' % 3.141592

'3.14'

In [114]:
'내 이름은 {0}이다'.format('최장혁')

'내 이름은 최장혁이다'

In [115]:
'{0}은 {1}다'.format('최장혁','바보')

'최장혁은 바보다'

In [116]:
'{0}아 그만쳐자고 일어나'.format('미친년')

'미친년아 그만쳐자고 일어나'

In [117]:
print('{0}마실걸 {1}랑 {2}먹으니까 나도 개졸리다'.format('아이스아메리카노','민트티','케이크'))

아이스아메리카노마실걸 민트티랑 케이크먹으니까 나도 개졸리다

In [118]:
'{a}하나 피고 {b}차려 {c}야'.format(a='담배',b='정신',c='장혁')

'담배하나 피고 정신차려 장혁야'

In [119]:
'{0:=^10}'.format('hi')

'====hi===='

In [120]:
"{0:<10}".format("hi")

'hi        '

In [121]:
'{float}'.format(float = 123.123)

'123.123'

In [122]:
d = {'name':'장준호'}
f'{d['name']} 닥쳐'

'장준호 닥쳐'

In [123]:
",".join(['a', 'b', 'c', 'd'])
'a,b,c,d'

'a,b,c,d'

In [124]:
a = (123,123,1313)
a

(123, 123, 1313)

In [125]:
a = [3,1,4,2,5,1,6,23,6,7]
a.sort()
a

[1, 1, 2, 3, 4, 5, 6, 6, 7, 23]

In [126]:
a.reverse()
a

[23, 7, 6, 6, 5, 4, 3, 2, 1, 1]

In [160]:
b = [1,52,515,45,1,5]
b.extend([1,2,3,4])
b.reverse()

In [164]:
c=b
c

[4, 3, 2, 1, 5, 1, 45, 515, 52, 1]

In [167]:
t1 = (1,2,3,4,4515,4)
t1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [168]:
dic = {'name': '장준호','실력' : '개못함', '종목': '전부다'}

In [171]:
dic['name']

'장준호'

In [1]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [2]:
3+4

7

In [9]:
dic = {'name': 'pey', 'phone': '010-2208-6064'}

In [10]:
dic['name']

'pey'

In [11]:
a= {1:'a', 2:'b'}
a[1]

'a'

In [12]:
a ={'a': 1, 'b':2}
a['a']

1

In [13]:
a

{'a': 1, 'b': 2}

In [14]:
c= {'a':[1,23,4]}

In [16]:
c['a']

[1, 23, 4]

In [17]:
a.keys()

dict_keys(['a', 'b'])

In [18]:
a

{'a': 1, 'b': 2}

In [20]:
a.get('h','foo')

'foo'

In [21]:
'name' in a

False

In [22]:
'a' in a

True

In [23]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [24]:
s2 = set('hello')
s2

{'e', 'h', 'l', 'o'}

In [29]:
'''set은 중복을 허용하지 않는 특징때문에 
데이터의 중복을 제거하기 위한 필터로 사용됨
더 유용하게는 교집합 차집합 합집합을 구할때'''

'set은 중복을 허용하지 않는 특징때문에 \n데이터의 중복을 제거하기 위한 필터로 사용됨\n더 유용하게는 교집합 차집합 합집합을 구할때'

In [30]:
s1 = set ([1,2,3]) #set 자료형 을 리스트로
l1 = list(s1)
l1

[1, 2, 3]

In [31]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [32]:
s1&s2

{4, 5, 6}

In [33]:
s1.intersection(s2)

{4, 5, 6}

In [34]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
s1.union(s1)

{1, 2, 3, 4, 5, 6}

In [37]:
s1 - s2

{1, 2, 3}

In [38]:
s2 - s1

{7, 8, 9}

In [5]:
s1 =set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [6]:
s1.update([4,3,4,5])

In [7]:
s1

{1, 2, 3, 4, 5}

In [9]:
a = True
b = False

In [10]:
type(a)

bool

In [11]:
type(b)

bool

In [12]:
1 == 1

True

In [13]:
type('python')

str

In [18]:
a= [1,2,3,4]               
'''자주 사용하므로 중요'''
while a:
    print(a.pop())

4
3
2
1

In [19]:
if []:
    print('참')
else:
    print('거짓')

거짓

In [20]:
bool()

False

In [22]:
bool('d')

True

In [32]:
id('마음')

4373263776

In [33]:
a = [1,2,3]
b=a

In [34]:
b

[1, 2, 3]

In [37]:
id (a)

4373245504

In [38]:
id (b)

4373245504

In [39]:
a is b

True

In [40]:
a == b

True

In [41]:
a[1] = 4

In [42]:
b

[1, 4, 3]

In [59]:
x = (1,2,3)
y = x

In [60]:
y

(1, 2, 3)

In [61]:
x = (3,4,5)

In [62]:
y

(1, 2, 3)

In [63]:
a = [1,2,3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [64]:
b

[1, 2, 3]

In [70]:
from copy import copy
a = [1,2,3]
b = copy(a)

In [71]:
b

[1, 2, 3]

In [72]:
a == b

True

In [73]:
b == a

True

In [74]:
b is a

False