Q1.국어 80, 영어 75, 수학 55 점인 학생의 평균 점수 구하기

In [ ]:
score = (80, 75, 55)
total = 0
i = 0

while i < len(score):
    total = total + score[i]
    i += 1

print(f"평균 점수 : {total/len(score)}점")

평균 점수 : 70.0점

Q2.자연수 13이 홀수인지 짝수인지 판별하는 방법법

In [11]:
n = 13

r = n % 2  # 나머지 연산자 %

if r == 0:
    print(f"{n}은 짝수입니다.")
else:
    print(f"{n}은 홀수입니다.")

13은 홀수입니다.

Q3.홍길동씨의 주민번호는 881120-1068234이다. 주민번호를 연월일(YYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.

In [ ]:
pin = "881120-1068234"
birth = pin[:6]
num = pin[7:]

print(birth)
print(num)

881120
1068234

Q4.주민등록번호 뒷부분의 첫 숫자를 이용해서 당사자의 성별을 판단해보자. 881120-1068234

In [16]:
pin = "881120-1068234"
gender = pin[7]

if gender == "1":  # pin[7]에 객체가 문자열이기 때문에 1이 아닌 '1'과 동일해야함
    print("남성입니다.")
else:
    print("여성입니다.")

남성입니다.

Q5.문자열 a:b:c:d에서 replace 함수를 이용해서 a#b#c#d로 변경한 문자열 출력력

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")

print(b)

a#b#c#d

Q6.list [1,3,5,4,2]를 [5,4,3,2,1]로 변경

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort()  # sort와 reverse 함수는 변수의 리스트를 적접 변형시키며 반환값은 None이다.
a.reverse()  # 따라서 a = a.sort()처럼 작성하면 a = None 이 되므로 a.reverse()에서 오류 발생생
print(a)

[5, 4, 3, 2, 1]

Q7.list ['life', 'is', 'too', 'short']를 문자열 'life is too short'로 만들어 출력. join함수 사용용

In [ ]:
a = ["life", "is", "too", "short"]
result = " ".join(a)

print(result)

life is too short

Q8.(1,2,3) tuple값에 4를 추가 (+)사용용

In [ ]:
a = 1, 2, 3
a = a + (4,)  # (4,)라는 하나의 요소를 가진 튜플을 a라는 튜플에 더해서 새로운 tuple을 a에 다시 지정정

print(a)

(1, 2, 3, 4)

Q10.dictionary a에서 B에 해당하는 값 추출.  dictionary의 pop 함수 사용용
a={'A':90, 'B':80, 'C':70}

In [25]:
a={'A':90, 'B':80, 'C':70}
result=a.pop('B')

print(a)
print(result)

{'A': 90, 'C': 70}
80

Q11. list a에서 중복숫자 제거
a=[1,1,1,2,2,3,3,3,4,4,5]

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

a = set(a)  # list a를 set 자료형으로 변환하여 대입
print(a)

a = list(a)  # set a를 list 자료형으로 변환하여 대입
print(a)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [29]:
# 동일한 문제의 다른 풀이
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

aSet = set(a)

b=list(aSet)

print(b)

[1, 2, 3, 4, 5]

Q12.파이썬은 동일한 값(객체 또는 데이터)에 여러개의 변수 지정 가능.
>>>a=b=[1,2,3]
>>>a[1]=4
>>>print(b)
위와 같은 코드에서 b의 값은 어떻게 되는가. 그 이유와 함께 설명하라.

Ans.
변수 a와 b는 list [1,2,3]의 데이터를 참조하므로 그 데이터가 있는 메모리 주소를 가리킨다.
이때 a 변수로 리스트의 값을 바꾸면 list의 데이터가 변경되고 변경된 데이터 주소는 b 역시 동일하게 가리키기 때문에 b의 데이터 역시 바뀌게된다.

따라서 print(b)의 출력은 [1,4,3]이다.